.removeButton {
    background-color: red;
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: 1s;
}
.removeButton:hover{
    background-color: rgb(255, 202, 202);
    transform:scale(1.2);
}
.removeButton:active{
    background-color: coral;
}
.toggleButton {
    background-color: rgb(12, 104, 0);
    border-style: none;
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: 1s;
}

.toggleButton:hover {
    background-color: hsl(121, 100%, 70%);
    border-style: none;
    width: 25px;
    height: 25px;
    transform: scale(1.5);
}

.toggleButton:active {
    background-color: hsl(121, 100%, 50%);
    border-style: none;
    width: 25px;
    height: 25px;
}

.newTaskButton {
    background-color: teal;
    color: white;
    font-size: 20px;
    border-style: none;
    padding: 11px;
    border-radius: 5px;
    transition: 1s;
}
.newTaskButton:hover {
    background-color: hsl(180, 100%, 35%);
    transform: scale(1.2);
}