.section {
    margin: 10px 0;
    width: 100%;
    background-color: white;
}

.section__header {
    font-size: 20px;
    padding: 20px;
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
}

.section__body {
    padding: 10px;
}