html {
    box-sizing: border-box;
}

*, *::after, ::before {
    box-sizing: inherit;
}

.header {
    padding-left: 20px;
    font-size: 30px;
}

.body {
    font-family: 'Lato', sans-serif, 'Libre Franklin';
    max-width: 100%;
    background-color: grey;
    font-size: 20px;
    padding: 30px;
    margin: 10px;
}

.main {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    flex-direction: column;
}


.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 15px;
    padding: 10px;

}


.tasksList {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

