.tasks__item {
    display: grid;
    word-wrap: break-word;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(238, 238, 238)
}

.tasks_done {
    text-decoration: line-through;
}
.tasks__item--done{
    display: none;
}